

.parent{
    width:100%;
   
}


.start{
    border:1px solid black;
    border:none;
    height:80px;
    width:100%;
    box-shadow: 0px 5px 15px black;
    margin-bottom: 20px;
}
.child1{
    margin-left: 130px;
    margin-top: 25px;
    font-size: 60px;
}
.child2{
    position: relative;
    left:262px;
    bottom: 68px;
    font-size: 60px;
    color: rgb(17, 17, 205);
}
.button1{
    border-radius: 50%;
    font-size: 25px;
    border:none;
    background-color: dodgerblue;
    position: relative;
    left:1200px;
    top:35px;
}
.flex{
    border: 2px solid black;
    border:none;
    height: 700px;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    position:relative;
    left:200px;
    text-align: center;

}
.box{
    border:2px solid black;
    border:none;
    width:250px;
    margin:30px;
    background-color: white;
   
}
.box:hover{
    box-shadow:0px 0px 5px black;
}
.line{
    text-decoration:line-through;
}
.blue{
    color:dodgerblue;
    font-size: 20px;
    
}
.page2{
    border:1px solid black;
    width: 300px;
    height:200px;
    position:relative;
    left:650px;
    bottom:530px;
}
.inline{
    position:relative;
    left: 270px;
    bottom:50px;
    font-size:2
}
.lower{
    position: relative;
    bottom:15px;
    border:1px solid black;
    width:150;
    height:30px;
    background-color: rgb(228, 221, 221);
    border:none;
}
.sumit{
    border:0px solid black;
    color:white;
    width:130px;
    font-size:25px;
    position:relative;
    left:150px;
    background-color: dodgerblue;
    border-radius: 5px;

}
.button{
    border-radius: 50%;
    font-size: 25px;
    border:none;
    background-color: dodgerblue;
    position: relative;
    left:800px;
}
.middle{
    border:2px black solid;
    height:300px;
    width:300px;
    
    font-size: 20px;
    position: relative;
    left:590px;
    top:150px;
}
.blur{
    opacity: 0.09;
}
.page3{
    border:1px solid black;
    width: 300px;
    height:200px;
    position:relative;
    left:600px;  
    bottom:200px;
}
.label{
    position:relative;
    top: 35px;
    left:1200px;
    font-size: 20px;
    text-decoration: none;
}
.label1{
    position:relative;
    left:800px;
    font-size: 20px;
}
.sumit2{
    font-size:30px;
    border-radius: 50%;
    background-color: black;
    color:white;
    position:relative;
    left: 500px;
}
.back{
    font-size:35px;
    position:relative;
    left: 520px;
}
.bag{
    background-color:lightgray;
}
@media screen and (min-width:290px) and (max-width:580px){
    
   
    .flex{
       
        height: 2000px;
        width: 100%;
        display: flex;
        flex-direction: column;
       position: absolute;
       left:20px;
       text-align:start;
    }
    .box{
        width:300px;
        height: 250px;
    }
    .bag{
        background-color:lightgray;
        height: 2000px;
        width:100%;
    }
    .child1{
        margin-left: 20px;
        margin-top: 25px;
        font-size: 60px;
    }
    .child2{
        position: relative;
        left:150px;
        bottom: 68px;
        font-size: 60px;
        color: rgb(17, 17, 205);
    }
    .label{
        position:relative;
        top: 35px;
        left:1200px;
        font-size: 20px;
        text-decoration: none;
        display: none;
    }
    .button1{
        border-radius: 50%;
        font-size: 40px;
        width:45px;
        border:none;
        background-color: dodgerblue;
        position: relative;
        left:180px;
        top:25px;
    }
    .blue{
        margin-top:30px;
        font-size: 25px;
      
        
    }
    .page2{
       
        width: 400px;
        height:300px;
        position:relative;
        top: 20px;
        left:0px;
        bottom:30px;
    }
    .inline{
        position:relative;
        left: 360px;
        bottom:50px;
        font-size:2
    }
    .sumit{
        position:relative;
        top:30px;
        left:200px;
    }
    .middle{
        border:2px black solid;
        height:250px;
        width:380px;
        font-size: 20px;
        position: relative;
        left:0px;
        top:100px;
    }
    .sumit2{
        font-size:30px;
        border-radius: 50%;
        background-color: black;
        color:white;
        position:relative;
        left: 20px;
    }
    .back{
        font-size:35px;
        position:relative;
        left: 30px;
    }
    .button{
        font-size: 30px;
        position: relative;
        left:170px;
    }
}